/* Custom Range Slider Styles */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #a6ce39;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

input[type='range']::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #a6ce39;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

input[type='range']::-webkit-slider-thumb::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
}

input[type='range']:focus::-moz-range-thumb {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
}
